<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>O Gigante Está de Pé</title>
</head>
<body>
	<div class="container">
		<div class="text-center">
			<h1>Lista de locais onde teremos manifestações dia 26/05</h1>
		</div>
		<div class="text-center">
			<img class="img-thumbnail" th:src="@{/img/imagem-capa.jpg}"><br><br>
		
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	São Paulo/SP: Avenida Paulista/MASP - 14hs
		</div>
		<div class="alert alert-success h3" role="alert">
		  	Rio de Janeiro/RJ: Copacabana Posto 5 - 10hs
		</div>
		<div class="alert alert-success h3" role="alert">
		  	Belo Horizonte/MG: Praça da Liberdade - 10hs
		</div>
		<div class="alert alert-success h3" role="alert">
		  	Fortaleza/CE: Praça Portugal - 16hs
		</div>
		<div class="alert alert-success h3" role="alert">
		  	João Pessoa/PB: Busto do Tamandaré - 15hs
		</div>
		<div class="alert alert-success h3" role="alert">
		  	Maceió/AL: Vera Arruda - 9hs
		</div>
		<div class="alert alert-success h3" role="alert">
		  	Salvador/BA: Farol da Barra - 9:30hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Manaus/AM: Ponta Negra - 9hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Brasília: Biblioteca Nacional - 10hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Vitória/ES: Moby Dick - 14hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Goiânia/GO: Superintendência da PF - 15hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	São Luiz/MA: Praça D. Pedro II - 9hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Imperatriz/MA: Praça da Cultura - 9hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Cuiabá/MT: Praça das Bandeiras - 15hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Rondonópolis/MT: Av. Lions Internacional - 16hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Curitiba/PR: Praça Santos Andrade - 14:30hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Recife/PE: Padaria de Boa Viagem - 14hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Natal/RN: MidWay Mall - 15hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Boa Vista/RR: Praça do Centro Cívico - 16hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Porto Alegre/RS: Parcão - 14hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Florianópoles/SC: Trapiche da Beira Mar - 15hs
		</div>
		
		<div class="alert alert-success h3" role="alert">
		  	Palmas/TO: Praça dos Girassóis - 8hs
		</div>
		
		<div class="text-center">
			<b>Caso você veja alguma informação de horário ou lugar errada, entre em contado para corrigirmos.</b><br>
			<b>Entre em contato também para informar o ponto de concentração da Manifestação em sua cidade.</b><br>
			<b> Anderson Oliveira - e-mail:andervilo@gmail.com/twitter: @andervilo</b>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
