<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<meta charset="UTF-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>O Gigante Está de Pé</title>
</head>
<body>
	<div class="container">
		<div class="row">
		<div class="col-md-8">
		<form id="outer-form" class="row form-horizontal form"
			th:action="@{/child}" th:object="${parent}"
			method="post">
				<div class="form-group col-md-12">
				    <label for="exampleFormControlInput1">Nome Pai</label>
				    <input type="text" class="form-control" th:field="*{name}" >
				</div>
				
				<input type="hidden" th:field="*{childs[0].parent}" th:value="${parent}">
				<div class="form-group col-md-9">
				    <label for="exampleFormControlInput1">Nome FIlho</label>
				    <input type="text" class="form-control" th:field="*{childs[0].name}" >
				</div>
				<div class="form-group col-md-3">
					<label for="exampleFormControlInput1" style="color: #fff">Nome FIlho</label>
					<button id="save" name="addChild" class="form-control btn btn-success btn-block">Adicionar Filho</button>
				</div>
					
				<div class="col-md-12">				
					<table th:if="${#lists.size(parent.childs) > 1}" class="table table-sm">
						<tbody>
							<tr th:each="item, itemStat : ${parent.childs}" th:if="${itemStat.index > 0}">
								<th>[[${item.id}]]</th>
								<th>[[${item.name}]]</th>
								<th>[[${item.parent.name}]]</th>
								<th><button type="submit" id="removeChild" name="removeChild" class="btn btn-danger" th:value="${itemStat.index}">X</button></th>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-12">
					<button id="save" name="saveParent" class="btn btn-primary">SaveParent</button>
				</div>
		</form>
		</div>
		</div>
<!-- 		<form id="inner-form" class="form-horizontal form" -->
<!-- 			th:action="@{/child1}" th:object="${child}" -->
<!-- 			method="post"> -->
<!-- 			<fieldset id="form-fieldset"> -->
<!-- 				<div class="form-group col-md-8"> -->
<!-- 				    <label for="exampleFormControlInput1">Nome FIlho</label> -->
<!-- 				    <input type="text" class="form-control" th:field="*{name}" > -->
<!-- 				</div> -->
<!-- 				<button id="save" name="save" class="btn btn-primary">inner -->
<!-- 					Save</button> -->
<!-- 			</fieldset> -->
<!-- 		</form> -->
		
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>
